@charset "utf-8";



/***Nav Style***/
#nav {
    display: table;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#nav ul {
    display: table-row;
}

#nav li {
    display: table-cell;
    padding: 15px;
    width: 25%;
	text-align: center;
}

nav a {
    font-size: 16pt;
    font-family: 'Raleway',helvetica, serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all .25s;
}

#nav a:hover, #nav a:focus{
	text-decoration:underline;
	color: #cc0000;
}	




/*** MastHead Style ***/
.mastHead {
    background: url(../images/banner.jpeg) no-repeat bottom center scroll;
    background-size: 100vw 100vh;
}

.introBody {
    min-height: 70vh;
    min-width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
}

.introText {
    width: 100%;
    text-align: center;
}

.introText h1, .introText h3 {
    font-family: cal;
    color: #cc0000;
}	