#gallery {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../../images/tile.png");
}

ng-image-slider {
    margin: auto;
}

#wrapper a{
	text-align: center;
}


@media(max-width: 750px){
ng-image-slider {
    overflow: hidden;
}
#mobileWrapper #gallery{
	min-width: 100%;
}

}

