<div id="background"></div>
<div id="eventWrapper">

<div id="eventsForm">
<img src="../../assets/img/Ulogo.png" class="logo">
<h1> Add your event here!</h1>

<form #eventForm="ngForm" (ngSubmit)="submit(eventForm)" class="event-form" [formGroup]="form">
  <mat-form-field class ="form-fields">
    <input matInput placeholder="name" formControlName="name">
  </mat-form-field>
  <mat-form-field class="form-fields">
    <input matInput placeholder="description" formControlName="description">

  </mat-form-field>
  <mat-form-field class="form-fields">
    <input matInput placeholder="organization" formControlName="organization">

  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">
    Add Event
  </button>
</form>
</div>
</div>