<div id="mobileWrapper">
<div id="background"></div>
<div id="eventWrapper">

<div id="eventsForm">
<img src="../../assets/img/Ulogo.png" class="logo">
<h1> Add your event here!</h1>

<form #eventForm="ngForm" (ngSubmit)="submit(eventForm)" class="event-form" [formGroup]="form">
  <mat-form-field class ="form-fields">
    <input matInput placeholder="name" formControlName="name">
  </mat-form-field>
  <mat-form-field class="form-fields">
    <input matInput placeholder="description" formControlName="description">

  </mat-form-field>
  <mat-form-field class="form-fields">
    <input matInput placeholder="organization" formControlName="organization">

  </mat-form-field>
  <table><tr><td><input type="text" list="skillsList" formControlName="skillName" name="skillName"></td><td><button [disabled]="! canSubmit()" (click)="addSkill()" type="button">Add Skill</button></td></tr></table>
  <ul>
      <li *ngFor="let skill of addedSkills">{{skill.name}}</li>
  </ul>
  <button mat-raised-button color="accent" type="submit">
    Add Event
  </button>
  <datalist id="skillsList">
      <option *ngFor="let skill of skillsThatTheEventDoesntHave()" value="{{skill.name}}">
    </datalist>
</form>
</div>
</div>
</div>