
<div class="mobileNav">
		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" (click)="mobileToggle()">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			
		</div>
		
		 <div *ngIf="mobileNavVisible" class="navCollapse">
		  <nav>
			<ul class="mobileUl">
					<li><a (click)="goHome()">Home</a></li>
					<li *ngIf="!userService.isUserLoggedIn()"><a (click)="goGallery()">Gallery</a></li>
					<li *ngIf="userService.isUserLoggedIn()"><a (click)="goEvent()">Events</a></li>
					<li *ngIf="userService.isUserLoggedIn()"><a (click)="goProfile()">Profile</a></li>
					<li *ngIf="userService.isUserLoggedIn()"><a (click)="goLogout()" >Logout</a></li>
					<li *ngIf="!userService.isUserLoggedIn()"><a (click)="goRegister()">Sign up</a></li>
					<li *ngIf="!userService.isUserLoggedIn()"><a (click)="goLogin()" >Login</a></li>
			  </ul>
		  </nav>
		  
		</div> 
	  </div>
	
	<div id="navwrapper">
		<nav id="nav" *ngIf="!mobileNavVisible">
			  <ul>
					<li><a (click)="goHome()">Home</a></li>
					<li *ngIf="!userService.isUserLoggedIn()"><a (click)="goGallery()">Gallery</a></li>
					<li *ngIf="userService.isUserLoggedIn()"><a (click)="goEvent()">Events</a></li>
					<li *ngIf="userService.isUserLoggedIn()"><a (click)="goProfile()">Profile</a></li>
					<li *ngIf="userService.isUserLoggedIn()"><a (click)="goLogout()" >Logout</a></li>
					<li *ngIf="!userService.isUserLoggedIn()"><a (click)="goRegister()">Sign up</a></li>
					<li *ngIf="!userService.isUserLoggedIn()"><a (click)="goLogin()" >Login</a></li>
			  </ul>
			</nav>		
	</div>




		  <!-- <nav id="nav" *ngIf="userService.isUserLoggedIn()">
			  <ul>
				<li><a (click)="goHome()">Home</a></li>
				<li><a (click)="goEvent()">Events</a></li>
		 		<li><a (click)="goGallery()">Gallery</a></li>
				<li><a (click)="goLogout()" >Logout</a></li>
			  </ul>
		  </nav>
		  <nav id="nav" *ngIf="!userService.isUserLoggedIn()">
			  <ul>
				<li><a (click)="goHome()">Home</a></li>
		 		<li><a (click)="goGallery()">Gallery</a></li>
				<li><a (click)="goRegister()">Sign up</a></li>
				<li><a (click)="goLogin()" >Login</a></li>
			  </ul>
		  </nav> -->
		
		<router-outlet></router-outlet>


