
        <nav id="nav" class="shrink">
            <ul>
                <li><a href="index.html">Home</a></li>
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="signup.hmtl">Sign up</a></li>
				<li><a href="login.html">Login</a></li>
            </ul>
        </nav>

        <header class="mastHead">
			<div class="introBody">
			<div class="introText"> 
			<h1>UCare</h1>
			<h3>Find your passion</h3>
			</div>
			</div>
		</header>   

		<div class="description">
			<article class="mission">
				<h3>What is UCare?</h3>
				<p>UCare connects University of Utah students with local non-profits, charities, and volunteer oportunities. Create a UCare account and we will automatically match you with organiaztions looking for people just like you. Join our mailing list and recieve updates if any opportunities open up.</p>
			</article>
		</div>

		<div class="feed" >
			
		</div>

		<footer>

			<div class="back2Tops"><a href=".mastHead"><p onclick="scollSmooth('top')" >Back to top</p></a></div>
		</footer>