<div class ="register-form">
  <mat-form-field>
    <input matInput placeholder="input">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="input">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="input">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="input">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="input">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="input">
      </mat-form-field>