@charset "utf-8";






/*** MastHead Style ***/
.mastHead {
    background: url(../images/banner.jpeg) no-repeat bottom center scroll;
    background-size: 100vw 100vh;
    box-shadow: 10px 6px 7px black;
}



.introBody {
    min-height: 70vh;
    min-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.introText {
    margin: auto;
    text-align: center;
    background-color: #ffffffb3;
    padding: 25px 50px;
    box-shadow: 1px 3px 7px black;
}

.introText h1, .introText h3 {
    font-family: cal;
    color: #cc0000;
}	

.introText h1{
	font-size:42pt;
    font-weight: bold;
}

.introText h3{
	font-size:24pt;
    font-weight: bold;
}




/*** Footer Style ***/

.back2Tops {
    text-align: center;
    padding: 10px;
}

.back2Tops a{
    color:white;
}

.back2Tops p {
    margin: 0px;
}

footer {
    background-color: #312e2e;
    color: white;
}

body strong {
    font-weight: normal;
    color: #cc0000;
}


.feed ul {
    margin: 0;
}

