/*** discription style ***/

.description {
    min-height: 50vh;
    display: flex;
    background-attachment: fixed;
    background-image: url("../../images/tile.png");
}

.mission {
    width: 45%;
    margin: auto;
    padding: 25px;
}

.mission p{
	font-size: 16pt
}

.mission h3{
	font-size: 30pt;
}


/*** Feed style***/
.feed{
	min-height: 60vh;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: whitesmoke;
}

#feedBox{
    border-collapse: separate;
    border-spacing: 0px 40px;
	width: 75%;
	margin: auto;
}

#feedBox tr:first-of-type{
	background-color: #cc0000;
	color:white;
	text-decoration: underline;
}
#feedBox tr:first-of-type:hover{
	background-color: #cc0000;
	color:white;
}


#feedBox tr{
	background-color: #a09c9c;
    box-shadow: 3px 2px 9px black;
    transition: all 0.25s;
}

#feedBox tr:hover{
	background-color: gray;
}

#feedBox td{
    font-size: 16pt;
    padding: 15px;
    text-align: left;
}

#feedBox td:first-of-type{
	text-align: center;
}

.Volunteerevent {
	background-color: #a09c9c;;
}

/*** mobile ***/

@media(max-width: 750px){
	#navWrapper .introText h1{
        font-size: 45pt;
    }

    #mobileWrapper .introText {
    	padding: 0px;
	}	

	#mobileWrapper .introText h3{
		font-size: 24pt;
	}

	#mobileWrapper .mastHead{
		background-image: none;
	}

	#mobileWrapper .mission{
		padding: 0px;
	}

	#mobileWrapper h3{
		font-size: 18pt;
		padding: 5px;
	}

	#mobileWrapper p{
		font-size: 14pt;
		padding: 5px;
		color: black;
	}

	.MobileVolunteerevent {
    	padding: 5px;
    	list-style-type: none;
    	padding-bottom: 5px;
    	margin-bottom: 25px;
    	background-color: whitesmoke;
    	font-size: 12pt;
	}

	#mobileFeedBox{
		margin: 0px 0px;
    	
    	
	}

	#mobileFeedBox h3 {
		margin: 0px;
    	padding-top:15px; 
    	color:white;
    	background-color: #cc0000;
    	padding-top: 25px;
    	padding-bottom: 15px;
	}

	.MobileVolunteerevent li:first-of-type{
    	font-weight: bold;
	}
}