/*** discription style ***/

.description {
    min-height: 50vh;
    display: flex;
    background-attachment: fixed;
    background-image: url("../../images/tile.png");
}



.mission {
    width: 45%;
    margin: auto;
    padding: 25px;
}

