
    <header class="mastHead">
    <div class="introBody">
    <div class="introText"> 
    <h1>UCare</h1>
    <h3>Find your passion</h3>
    </div>
    </div>
  </header>   

  <div class="description">
    <article class="mission">
      <h3>What is <strong>UCare</strong>?</h3>
      <p><strong>UCare</strong> connects University of Utah students with local non-profits, charities, and volunteer oportunities. Create a <strong>UCare</strong> account and we will automatically match you with organiaztions looking for people just like you. Join our mailing list and recieve updates if any opportunities open up.</p>
    </article>
  </div>

  <div class="feed">
      <ul *ngIf="events">
        <li *ngFor="let event of events">
            {{event.organization}}
            {{event.name}}
            {{event.description}}
        </li>
      </ul>
    </div>

  <footer>

    <div class="back2Tops"><a href=".mastHead"><p onclick="scollSmooth('top')" >Back to top</p></a></div>
  </footer>